# Visualizing Titanic Data

![titanic picture from wikipedia](https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/RMS_Titanic_3.jpg/600px-RMS_Titanic_3.jpg)

In [1]:
# first, need our imports and to grab the data
import pandas as pd

In [3]:
# what's in the data?
df = pd.read_csv('data/titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### What are the most common last names?

Wait, the last names are part of the full name column... first we'll need to grab the last names!

A few ways we can do this:

In [5]:
# Need to grab last names ... but how?
df['Last Name'] = df['Name'].map(lambda x: x.split(sep=',')[0])

In [10]:
df['Last Name'].value_counts()

Andersson     9
Sage          7
Carter        6
Goodwin       6
Panula        6
             ..
Lewy          1
Harrington    1
Sedgwick      1
Gilinski      1
O'Connell     1
Name: Last Name, Length: 667, dtype: int64

In [ ]:
import matplotlib.pyplot as plt
df.plot

`groupby` or `value_counts`?

Now let's visualize:

In [ ]:
# Plot a bar graph of the most common last names

### Who Paid the Most Fare?

As always - a few ways we can do this: `.loc` versus `sort_values`

In [15]:
most_fare = df.sort_values(ascending = False).head().plot(kind='bar')

TypeError: sort_values() missing 1 required positional argument: 'by'

In [ ]:
most_fare['Name']

And let's visualize some more!

In [ ]:
# Plot a histogram - but now, let's do all fares

In [ ]:
# Okay that's pretty bland, let's see if we can add more detail

## Seaborn 

![Sam Seaborn from West Wing, image from the TV guide](https://tvguide1.cbsistatic.com/i/2017/01/07/0f1a6ab5-8c63-4869-9f85-5d8b2b14913b/cf2e9396152ee85468e5bcfe063053a4/010717-west-wing-rob-lowe-news.jpg)

[Seaborn, I choose you!](https://elitedatascience.com/python-seaborn-tutorial) (aka an excellent exploration of the functionality of Seaborn)

Now let's practice with Seaborn:

In [ ]:
import seaborn as sns
sns.set(style='darkgrid')
# Same as sns.set_style('darkgrid')

In [ ]:
# We've mentioned pairplots, let's take a look...

In [ ]:
# Try out a swarm plot with class and age

In [ ]:
# Let's try a categorical plot (used to be a factor plot)
# Do the same swarmplot, but now make columns of survived